<nav class="navbar navbar-light" style="background-color:antiquewhite;">
    <span class="navbar-brand">News Headlines</span>
    
    <button class="justify-content-end btn btn-dark" (click)="signout()">LogOut</button>
</nav>
<br>
<form class="form-inline">
    <label>Language</label>
    <select class="col-lg-2 form-control mr-sm-2 form-inline" NativeControl name="language" [(ngModel)]="language"
        (change)="searchArticleByLanguage()">
        <option value="en">English</option>
        <option value="es">Spanish </option>
        <option value="de">German</option>
        <option value="ar">Arabic</option>
        <option value="fr">French</option>
        <option value="he">Afro-Asiatic</option>
        <option value="it">Italian</option>
        <option value="nl">Dutch</option>
        <option value="no">Norwegian </option>
        <option value="pt">Portuguese</option>
        <option value="ru">Russian</option>
        <option value="se">Sami</option>
        <option value="ud">Urdu</option>
        <option value="zh">Chinese </option>
    </select>
    <input class="form-control mr-sm-2" type="search" name="search" [(ngModel)]="keyword"  placeholder="Search Keyword"  aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" (click)="searchArticleByKeyword()"  type="submit">Search</button>
</form>
        <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="6%" fxLayoutGap.xs="3%" fxLayoutAlign="flex-start">
                <ng-container *ngFor="let article of Articles">
            <!-- <div class="card"> {{source.name}}</div> -->
            <div class="card" fxFlex.lt-sm="25%" fxFlex="25%">
                    <h5 class="card-title">{{article.title}}</h5>
                <img class="img-fluid" src="{{article.urlToImage}}" alt="Card image cap">
                <div class="card-body">
                    
                    <p class="card-text">{{article.source.name}}</p>
                    <p class="card-text"> {{article.description}}</p>
                    <a class="btn btn-primary" href={{article.url}} target="_blank"> Read More</a>
                    <button (click)="favourites()" class="btn btn-outline-success">Favourite</button>
                    <!-- <a href="favourites" class="btn btn-primary">Favourite</a> -->
                </div>
            </div>
        
    </ng-container>
    </div>



        